#home {
    height: 900px;
}

.main {
    align-items: center;
    text-align: center;
}

.heading {
    font-size: 22px;
}

#pic img {
    width: 100px;
    height: 175px;
}

#intro h2 {
    font-size: 20px;
}

.boxes {
    height: 300px;
}

.info-box {
    width: 300px;
}
